#menu {  
list-style:none;  
width:1000px;  
margin:30px auto 0px -30px;  
height:43px;  
padding:0px 20px 0px 20px;  
/* Rounded Corners */  
-moz-border-radius: 10px;  
-webkit-border-radius: 10px;  
border-radius: 10px;  
/* Background color and gradients */  
background: #014464;  
background: -moz-linear-gradient(top, #0272a7, #013953);  
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0272a7), to(#013953));
background-image: -ms-linear-gradient(top, #0272a7 0%, #013953 100%);
/* Borders */  
border: 1px solid #002232;  
-moz-box-shadow:inset 0px 0px 3px #013953;  
-webkit-box-shadow:inset 0px 0px 3px #013953;  
box-shadow:inset 0px 0px 3px #013953;  
}
#menu .gradient{
}
#menu li {  
float:left;  
display:block;  
text-align:center;  
position:relative;  
padding: 11px 10px 4px 10px;
width:70px;
height:26px;
border: 1px solid transparent;
}
#menu li:hover {  
border: 1px solid #777777;  
padding: 11px 10px 4px 10px;  
/* Background color and gradients */  
background: #F4F4F4;  
background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE) !important;  
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#EEEEEE)) !important;
background-image: -ms-linear-gradient(top, #F4F4F4 0%, #EEEEEE 100%);
}
#menu li.drop{
width:120px;
}
#menu li.home:hover{
position:relative;
top:-1px;
height:28px;
background: #00367D;  
background: -moz-linear-gradient(top, #00367D, #002454) !important;  
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00367D), to(#002454)) !important;  
background-image: -ms-linear-gradient(top, #00367D 0%, #002454 100%);
/* Borders */  
border: 1px solid #023F5C;  
-moz-box-shadow:inset 0px 11px 3px -10px #002454,
	inset 0px -11px 3px -10px #002454;   
-webkit-box-shadow:inset 0px 11px 3px -10px #002454,
	inset 0px -11px 3px -10px #002454;   
box-shadow:inset 0px 11px 3px -10px #002454,
	inset 0px -11px 3px -10px #002454;
}
#menu li.divs:hover{
position:relative;
top:-1px;
height:28px;
background: #005901;  
background: -moz-linear-gradient(top, #005901, #011C01) !important;  
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#005901), to(#011C01)) !important;  
background-image: -ms-linear-gradient(top, #005901 0%, #011C01 100%);
/* Borders */  
border: 1px solid #023F5C;  
-moz-box-shadow:inset 0px 11px 3px -10px #011C01, 
	inset 0px -11px 3px -10px #011C01;   
-webkit-box-shadow:inset 0px 11px 3px -10px #011C01, 
	inset 0px -11px 3px -10px #011C01;   
box-shadow:inset 0px 11px 3px -10px #011C01,
	inset 0px -11px 3px -10px #011C01; 
}
#menu li.archives:hover{
position:relative;
top:-1px;
height:28px;
background: #45080B;  
background: -moz-linear-gradient(top, #C1272D, #45080B) !important;  
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C1272D), to(#45080B)) !important;
background-image: -ms-linear-gradient(top, #C1272D 0%, #45080B 100%);  
/* Borders */  
border: 1px solid #023F5C;  
-moz-box-shadow:inset 0px 11px 3px -10px #45080B, 
	inset 0px -11px 3px -10px #45080B;   
-webkit-box-shadow:inset 0px 11px 3px -10px #45080B, 
	inset 0px -11px 3px -10px #45080B;   
box-shadow:inset 0px 11px 3px -10px #45080B,
	inset 0px -11px 3px -10px #45080B; 
}
#menu li.logout:hover{
position:relative;
top:-1px;
height:28px;
background: #6F3485;  
background: -moz-linear-gradient(top, #6F3485, #2E033D) !important;  
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6F3485), to(#2E033D)) !important; 
background-image: -ms-linear-gradient(top, #6F3485 0%, #2E033D 100%);   
/* Borders */  
border: 1px solid #023F5C;  
-moz-box-shadow:inset 0px 11px 3px -10px #2E033D, 
	inset 0px -11px 3px -10px #2E033D;   
-webkit-box-shadow:inset 0px 11px 3px -10px #2E033D, 
	inset 0px -11px 3px -10px #2E033D;   
box-shadow:inset 0px 11px 3px -10px #2E033D,
	inset 0px -11px 3px -10px #2E033D; 
}
#menu li.super:hover{
position:relative;
top:-1px;
height:28px;
background: #451D08;  
background: -moz-linear-gradient(top, #F75802, #451D08) !important;  
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F75802), to(#451D08)) !important; 
background-image: -ms-linear-gradient(top, #F75802 0%, #451D08 100%);   
/* Borders */  
border: 1px solid #023F5C;  
-moz-box-shadow:inset 0px 11px 3px -10px #451D08, 
	inset 0px -11px 3px -10px #451D08;   
-webkit-box-shadow:inset 0px 11px 3px -10px #451D08, 
	inset 0px -11px 3px -10px #451D08;   
box-shadow:inset 0px 11px 3px -10px #451D08,
	inset 0px -11px 3px -10px #451D08; 
}
#menu li.logout{
float:right !important;
margin-right:10px;
}
#menu li a {  
font-family:Arial, Helvetica, sans-serif;  
font-size:14px;
color: #EEEEEE;  
display:block;  
outline:0;  
text-decoration:none;  
text-shadow: 1px 1px 1px #000;  
}
#menu li:hover a {  
color:#161616;  
text-shadow: 1px 1px 1px #FFFFFF;  
}
#menu li.home:hover a,
#menu li.divs:hover a,
#menu li.masters:hover a,
#menu li.super:hover a,
#menu li.archives:hover a,
#menu li.logout:hover a{
color: #EEEEEE;
text-shadow: 1px 1px 1px #000;
margin-top:1px;
}
.dropdown_1column {
margin:4px auto;  
position:absolute;  
left:-999em; /* Hides the drop down */  
text-align:left;  
padding:10px 5px 10px 5px;  
border:1px solid #777777;  
border-top:none;  
/* Gradient background */  
background:#F4F4F4;  
background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);  
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));  
background-image: -ms-linear-gradient(top, #EEEEEE 0%, #BBBBBB 100%);   
/* Rounded Corners */  
-moz-border-radius: 0px 0px 5px 5px;  
-webkit-border-radius: 0px 0px 5px 5px;  
border-radius: 0px 0px 5px 5px;
width:130px;
z-index:3;
}
#menu li:hover .dropdown_1column {  
left:-1px;top:40px;  
}
#menu p, #menu h2, #menu h3, #menu ul li {  
font-family:Arial, Helvetica, sans-serif;  
line-height:21px;  
font-size:12px;  
text-align:left;  
text-shadow: 1px 1px 1px #FFFFFF;  
}  
#menu h2 {  
font-size:21px;  
font-weight:400;  
letter-spacing:-1px;  
margin:7px 0 14px 0;  
padding-bottom:14px;  
border-bottom:1px solid #666666;  
}  
#menu h3 {  
font-size:14px;  
margin:7px 0 14px 0;  
padding-bottom:7px;  
border-bottom:1px solid #888888;  
}  
#menu p {  
line-height:18px;  
margin:0 0 10px 0;  
}  
.strong {  
font-weight:bold;  
}  
.italic {  
font-style:italic;  
}
#menu li:hover div.dropdown_1column a {  
font-size:12px;  
color:#015b86;
text-shadow: 1px 1px 1px #FFFFFF; 
line-height:24px;
margin-left:20px;
}  
#menu li:hover div.dropdown_1column a:hover {  
color:#029feb;  
}