tr.shaded {
background:#E0EEE0;
}

tr.specialshaded{
background:#B6E3B6;
}

/* Full Daily Schedule */
.divrow{
margin-left:10px;
}

.divrow a{
text-decoration:none;
}

table.dptsched{
width:auto;
}

table.public{
width:auto;
margin-top:-8px;
}

.dptsched tr,
.divisions tr,
.detail tr{
height:15px;
}

tr.times{
font-size:12px;
color:#506670;
}

tr.subs{
background:#cccccc;
}

.Admin tr.subs{
background:#ffffff;
}

tr.emps{
border:1px solid black;
}

tr.emps td.first_name,
tr.emps td.shift,
tr.emps td.timeoff_reason,
tr.emps td.empty{
border:1px solid black;
}

tr.emps td.on,
tr.emps td.off,
tr.emps td.busy,
tr.emps td.here,
tr.emps td.alert,
tr.emps td.def,
tr.emps td.closed{
border-left:1px solid black;
}

tr.emps td.decimal{
border-left:1px dashed gray;
}

tr.emps td.on.decimal,
tr.emps td.here.decimal,
tr.emps td.busy.decimal,
tr.emps td.alert.decimal,
tr.emps td.closed.decimal
{
border-left:hidden !important;
}

.dptsched td.first_name,
.divisions td.first_name{
width:75px;
padding-left:5px;
}

.dptsched td.shift{
width:80px;
padding-left:5px;
max-width:80px;
vertical-align:top;
}

tr.times td.shift{
overflow:visible;
}

.dptsched td.timeoff_reason{
padding-left:5px;
padding-right:5px;
width:100px;
max-width:100px;
vertical-align:top;
}

.td_outer{
position:relative;
}

.td_inner{
width:100%;
overflow:hidden;
white-space:nowrap;
position:absolute;
text-overflow:ellipsis;
}

.dptsched td.on,
.dptsched td.off,
.dptsched td.busy,
.dptsched td.here{
width:10px;
}

td.off{
}

td.here{
background:#00367D;
}

td.busy{
background:#f75802;
}

td.on{
background:#027003;
}

td.alert{
background:#D90D15;
}

td.def{
background:#F2CF0A;
}

td.closed{
background:#AAAAAA;
}

.hr{
position:relative;
left:-4px;
top:3px;
z-index:0;
}

.shift .hr{
left:-8px;
}

/* Divisions Weekly Schedule & Details Table */
.divboxes{
	-webkit-box-shadow: 0 8px 0 6px -6px #4D4D4D;
	-moz-box-shadow: 0 8px 6px -6px #4D4D4D;
	box-shadow: 0 8px 6px -6px #4D4D4D;
	clear:both;
	display:table;
	margin:0 auto;
	}

table.divisions,
table.detail{
width:auto;
border-collapse:collapse;
}

table.top{
margin-top:40px;
}

table.subsweekly,
table.divweekly{
margin-top:0px !important;
}

.divisions td,
.detail td{
padding-left:5px;
margin:0;
}

.divisions td.day,
.detail td.day{
width:80px;
text-align:center;
padding:0px;
color:#013953;
}

.detail td.first_name{
width:60px;
}

.divisions td.hrs{
color:#013953;
width:22px;
text-align:center;
}

.detail td.hrs,
.divweekly td.hrs{
width:25px;
text-align:center;
}

.detail td.marks{
padding-right:3px;
width:34px;
}

.marks .shift,
.marks .desk,
.marks .lunch{
filter:alpha(opacity=70);
-moz-opacity:.70;
opacity:.70;
}

.divisions td.first_name,
.divisions td.shift,
.detail td.first_name,
.detail td.shift,
.detail td.marks,
.detail td.editbutton {
border:1px solid #BFBFBF !important;
}

.detail td.editbutton{
padding-right:3px;
}

.divisions td.hr_total,
.detail td.hr_total{
border:1px solid #BFBFBF !important;
width:22px;
}

.divisions .desk,
.detail .desk{
color:#0272a7;
}

.detail .lunch,
.divweekly .lunch{
color:#005901;
}

.detailtable{
clear:both;
}

.detailtable .dp{
text-align:center;
margin-bottom:10px;
}

.div_weeks{
margin:5px auto -20px auto;
display:table;
}

.div_week{
display:inline-block;
margin:5px;
padding:1px 22px;
border:1px solid #999999;
background:#FFEAE8;
}

.div_week:hover, .div_focus{
background: #FCD8D4;
border:1px solid #735151;
}

/* Divisions Specific Schedule */
#schedDiv .date{
text-align:center;
}

.division_specific{
border:1px solid #0272A7;
padding:10px 10px 20px 10px;
margin-top:10px;
}

.divspec {
font-size:18px;
font-weight:bold;
color:#013953;
text-align:center;
}

.divspec_head {
margin: 0 auto;
}

input.prev {
float:left;
}

input.next {
float:right;
display:inline;
}

/* Subs Scheduler */
.dptsched td.adult,
.dptsched td.children,
.dptsched td.custserv,
.dptsched td.lti,
.dptsched td.teen{
width:10px;
}

tr.emps td.adult,
tr.emps td.children,
tr.emps td.custserv,
tr.emps td.lti,
tr.emps td.teen{
border-left:1px solid black;
}

tr.emps td.adult.decimal,
tr.emps td.children.decimal,
tr.emps td.custserv.decimal,
tr.emps td.lti.decimal,
tr.emps td.teen.decimal{
border-left:hidden !important;
}

.adult{
background:#FF9640;
}
.children{
background:#8EF13C;
}
.custserv{
background:#FF4040;
}
.lti{
background:#7373D9;
}
.teen{
background:#D540D3;
}

/* Timeoff Divisions */
#timeoff{
margin-top:40px;
}

table.timeoff{
margin-top:15px;
width:auto;
border-collapse:collapse;
}

.timeoff td{
padding-left:5px;
margin:0;
border:1px solid #BFBFBF !important;
}

.timeoff td.first_name{
width:80px;
}

.timeoff td.division{
padding-right:5px;
width:98px;
}

.timeoff td.datetime {
color:#013953;
width:300px;
}

.todate {
font-weight:bold;
color:#000000;
}

.notimeoff {
min-width:503px;
}

.extras td{
padding:0px 10px;
}

.extras td.times{
min-width:30px;
}

/* Employees Table */
table.employees{
width:auto;
border-collapse:collapse;
}

.employees td{
padding:0 10px;
margin:0;
border:1px solid #BFBFBF !important;
}

.employees th{
padding:0 10px;
text-align:left;
color:#013953;
font-weight:bold;
}

/* Coverage Divisions */
table.coverage{
margin-top:15px;
width:auto;
border-collapse:collapse;
}

.coverage td{
padding-left:5px;
border:1px solid #BFBFBF !important;
margin:0;
}

.coverage td.first_name{
width:80px;
}

.coverage td.division{
padding-right:5px;
width:98px;
}

.coverage td.datetime {
color:#013953;
width:300px;
}

.todate {
font-weight:bold;
color:#000000;
}

.nocoverage {
min-width:503px;
}

/* Report */
.report{
margin-top:20px;
}

.listing{
margin-top:20px;
}

.listlabel{
margin-bottom:3px;
margin-left:5px;
}

.listing table.list{
width:100%;
border-collapse:collapse;
}

.listing table.list td{
border: 1px solid #BFBFBF;
padding:0px;
}

.listing table.child{
width:100%;
border-collapse:collapse;
}

.listing table.child td{
border:0px;
padding:2px 5px;
}

.rowspan{
background:#E0EEE0;
}

/* Sub Needs */
.sub_needs_wrapper{
position:relative;
min-width:350px;
}

.sub_needs_button{
position:absolute;
top:-4px;
left:0;
background: #77A240;  
border: 1px solid #668A37;
cursor: pointer;
display: inline-block;
margin-right:15px;
padding:8px 12px 6px 12px;
text-decoration: none;
font-weight:500;
font-size:13px;
vertical-align: top;
}

.sub_needs_button:hover{
background: #668A37;
}

.sub_needs_button a{
color: #fff !important;
text-decoration: none;
}

.sub_needs_button a:hover, .sub_needs_button a:focus {

}

table.sub_needs{
margin-top:30px;
width:auto;
border-collapse:collapse;
}

.sub_needs form{
margin-bottom:0px !important;
}

table.sort{
margin-top:0px;
}

.sub_needs td{
padding-left:5px;
padding-right:5px;
margin:0;
border:1px solid #BFBFBF !important;
}

.sub_needs td.division{
padding-right:5px;
width:98px;
}

.sub_needs td.datetime {
color:#013953;
width:120px;
}

.sub_needs td.assign {
font-style:italic;
width:170px;
}

/*.sub_needs td.confirm {
width:68px;
}*/

.sub_needs th {
color: #013953;
font-weight: bold;
padding: 0 10px;
text-align: left;
}

.assign_style{
color:#013953;
font-style:normal;
font-weight:bold;
}

.todate {
font-weight:bold;
color:#000000;
}

.ui-dialog{
font-family: Arial,Helvetica,sans-serif !important;
font-size: 12px !important;
line-height: 18px !important;
top:80px !important;
padding:0px !important;
}

.ui-corner-all{
border-bottom-right-radius: 0px !important;
border-top-right-radius: 0px !important;
border-bottom-left-radius: 0px !important;
border-top-left-radius: 0px !important;
}

.ui-dialog-titlebar {
display:none !important;
}

.toggle{
text-align:center;
margin-top:10px;
margin-bottom:-5px;
}

.decline{
font-style:normal !important;
}

/* PIC Create/Edit */
.picbox{
-webkit-box-shadow: 0 8px 0 6px -6px #4D4D4D;
-moz-box-shadow: 0 8px 6px -6px #4D4D4D;
box-shadow: 0 8px 6px -6px #4D4D4D;
clear:both;
display:table;
margin:0;
}

/* Timesheet Select */
table.confirming{
margin-top:15px;
width:auto;
border-collapse:collapse;
}

.confirming td{
padding-left:5px;
padding-right:5px;
margin:0;
border:1px solid #BFBFBF !important;
}

.confirmed{
background:#B8FF94;
font-weight:bold;
padding-left:8px !important;
}

.locked{
background:#FAFFA3;
font-weight:bold;
}

/* Timesheet Confirmation */
.timetable{
border-collapse: collapse;
}

.timetable .scheduled td{
padding-bottom:5px;
}

.timetable td.day{
color: #013953;
padding: 0;
text-align: center;
padding-bottom:10px;
vertical-align:bottom;
line-height:15px;
}

.timetable td.hours_type{
padding:1px 5px;
}

.timetable td.entry{
padding:0 12px;
}

.timetable td.shift{
text-align: center;
}

.timetable td.total, .timetable td.shift_total, .timetable td.weekly_total{
min-width:35px;
text-align: center;
}

.week_style{
background:#efefef;
border:1px solid #dedede;
}

.timetable .label{
padding-left:10px;
}

.insufficient{
color:#c90000;
background:#fcd8d4;
font-weight:bold;
}

/* Approve Timesheets */
table.approve_timesheets{
margin-top:15px;
width:auto;
border-collapse:collapse;
}

.approve_timesheets td{
padding:0 5px;
margin:0;
border:1px solid #BFBFBF !important;
}

.waiting{
padding-left:8px !important;
}

.disp_hours{
width:39px;
padding:0 12px;
text-align:center;
}

/* Pay Periods */
.pay_periods{
float:left;
margin:30px 0px 0px 30px;
text-align:center;
}

.pay_periods td{
text-align:right;
padding:0px 10px;
}