#menu {  
list-style:none;  
width:1000px;  
margin:30px auto 0px -30px;  
height:43px;  
padding:0px 20px 0px 20px;  
/* Background */  
background: #003149;
/* Borders */  
border: 1px solid #014A6E;
}
#menu .gradient{
}
#menu li {  
float:left;  
display:block;  
text-align:center;  
position:relative;  
padding: 11px 10px 4px 10px;
width:70px;
height:26px;
border: 1px solid transparent;
}
#menu li:hover {  
padding: 11px 10px 4px 10px;  
/* Background */  
background: #014A6E;
}
#menu li.drop{
width:120px;
}
#menu li.home:hover{
position:relative;
top:-1px;
height:28px;
background: #014A6E;
}
#menu li.divs:hover{
position:relative;
top:-1px;
height:28px;
background: #014A6E;
}
#menu li.archives:hover{
position:relative;
top:-1px;
height:28px;
background: #014A6E;
}
#menu li.logout:hover{
position:relative;
top:-1px;
height:28px;
background: #014A6E;
}
#menu li.super:hover{
position:relative;
top:-1px;
height:28px;
background: #014A6E;
}
#menu li.logout{
float:right !important;
margin-right:10px;
}
#menu li a {  
font-family:"Roboto",Arial, Helvetica, sans-serif;  
font-size:14px;
color: #ffffff;  
display:block;  
outline:0;  
text-decoration:none;
font-weight:500;
}
#menu li:hover a {  
color:#ffffff;
}
#menu li.home:hover a,
#menu li.divs:hover a,
#menu li.masters:hover a,
#menu li.super:hover a,
#menu li.archives:hover a,
#menu li.logout:hover a{
color: #ffffff;
margin-top:1px;
}
.dropdown_1column {
margin:4px auto;  
position:absolute;  
left:-999em; /* Hides the drop down */  
text-align:left;  
padding:10px 5px 10px 5px;  
border:1px solid #777777;  
border-top:none;  
/* Gradient background */  
background:#F4F4F4;  
width:130px;
z-index:3;
}
#menu li:hover .dropdown_1column {  
left:-1px;top:40px;  
}
#menu p, #menu h2, #menu h3, #menu ul li {  
font-family:Arial, Helvetica, sans-serif;  
line-height:21px;  
font-size:12px;  
text-align:left;  
text-shadow: 1px 1px 1px #FFFFFF;  
}  
#menu h2 {  
font-size:21px;  
font-weight:400;  
letter-spacing:-1px;  
margin:7px 0 14px 0;  
padding-bottom:14px;  
border-bottom:1px solid #666666;  
}  
#menu h3 {  
font-size:14px;  
margin:7px 0 14px 0;  
padding-bottom:7px;  
border-bottom:1px solid #888888;  
}  
#menu p {  
line-height:18px;  
margin:0 0 10px 0;  
}  
.strong {  
font-weight:bold;  
}  
.italic {  
font-style:italic;  
}
#menu li:hover div.dropdown_1column a {  
font-size:12px;  
color:#003149;
text-shadow: 1px 1px 1px #FFFFFF; 
line-height:24px;
margin-left:20px;
}  
#menu li:hover div.dropdown_1column a:hover {  
color:#2E85C7;  
}